// Colours
$colour-orange: #ef7e36;
$colour-green: #639c2d;
$colour-dark-green: #103231;
$colour-black: #000000;
$colour-white: #fff;

// Fonts
$header-font: "Cormorant Garamond", serif;
$main-font: "Open Sans", sans-serif;
