header {
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  grid-area: header;
  font-family: $main-font;

  .container {
    padding: 0;
  }

  .nav {
    background: $colour-white;
    color: $colour-dark-green;
    width: 100%;
    display: grid;
    grid-template-rows: 60px 40px;
    grid-template-areas:
      "search search logo logo  menu menu"
      "phone phone phone cta cta cta";

    @media (min-width: 1380px) {
      background: none;
      color: $colour-white;
      width: 1380px;
      padding: 15px;
      grid-template-areas: "logo menu search phone cta";
    }

    &-logo {
      grid-area: logo;
      justify-self: center;
      align-self: center;

      @media (min-width: 1380px) {
        justify-self: start;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 300;

        @media (min-width: 1380px) {
          font-size: 2.5rem;
        }
      }
    }

    &-menu {
      padding-right: 15px;
      grid-area: menu;
      justify-self: end;
      align-self: center;

      &-toggle {
        display: block;

        @media (min-width: 1380px) {
          display: none;
        }
      }

      ul {
        list-style: none;
        font-weight: 400;
        display: none;

        @media (min-width: 1380px) {
          display: block;
        }

        li {
          display: inline-block;

          a {
            padding: 1rem 1rem 2rem;
            color: $colour-white;
            text-decoration: none;

            &:hover {
              background: $colour-white;
              color: $colour-dark-green;
            }
          }
        }
      }
    }

    &-search {
      padding-left: 15px;
      grid-area: search;
      justify-self: start;
      align-self: center;
    }

    &-phone,
    &-cta {
      background: $colour-black;
      color: $colour-white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $main-font;
      font-weight: 700;

      @media (min-width: 1380px) {
        background: none;
        font-weight: 400;
      }

      svg {
        position: relative;
        left: 10px;
      }
    }

    &-phone {
      grid-area: phone;
    }

    &-cta {
      grid-area: cta;
      justify-self: center;
      align-self: center;

      .btn-cta {
        background: none;
        color: $colour-white;
        padding: 0;
        text-decoration: none;
        font-size: inherit;
        margin-top: 0;

        @media (min-width: 1380px) {
          background: $colour-orange;
          color: $colour-white;
          padding: 1rem;
          text-decoration: none;
          font-size: 1rem;
          font-family: $main-font;
          font-weight: 700;
          transition: active 100ms ease;

          &:active {
            background: $colour-white;
            color: $colour-orange;
          }
        }
      }
    }
  }
}
